*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#topo{
   background-color: #004643;

}
#logo{
  width: 15%;
}
body{
  background-color: #D8D8D8;
}
section{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
#vento{
  padding: 2rem;
}
#botao{
  margin-top: 15rem;
  margin-right: 6rem;
  
}